@media screen and (max-width: 700px){
	.order-type-overview{
		flex-direction: column;
	}
}


p{
	margin: 0;
}

.overview-info {
	display: flex;
	gap: 24px;
	
	.overview-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 32px;
		height: 268px;
		padding: 24px;
		width: 100%;
		background-color: #ffffff;
		margin-bottom: 20px;
		border-radius: 8px;
		
		
		:global {
			.ant-btn.ant-btn-primary {
				width: 97px;
				height: 32px;
				background: #1677ff;
				border-radius: 4px;
			}
		}
		
		.overview-sub-title {
			font-size: 14px;
			line-height: 1.4;
			color: rgba(22, 22, 26, 0.6);
		}
		
		.withdrawing-amount {
			font-size: 28px;
			line-height: 140%;
			color: #16161a;
		}
		
		
		.balance-amount {
			font-size: 48px;
			line-height: 61px;
			color: #16161a;
			margin-right: 24px;
		}
		
		
		.overview-title {
			font-size: 18px;
			line-height: 24px;
			color: #16161a;
		}
	}
}



.order-type-overview{
	display: flex;
	padding: 0;
	gap: 24px;
	width: 100%;
	overflow-x: scroll;
}



