.demo-layout {
	display: flex;
	height: 100%;
	overflow: auto;
	
	div {
		
		display: flex;
	}
	
	
	.left-side {
		background-color: white;
	}
	
	.main-content {
		background-color: rgb(247, 247, 247);
		flex: 1 0 auto;
		flex-flow: column nowrap;
		
		> .top-banner {
			background-color: white;
			height: 80px;
			flex-grow: 0;
			width: 100%;
			padding: 16px 32px;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;
			
			> .right-side-group {
				flex-shrink: 0;
				height: 100%;
				align-items: center;

			}
		}
	}
	
	:global {
		span.ant-tree-switcher_,.ant-tree-switcher {
			display: flex;
			justify-content: center;
			align-items: center;
			
			&open {
				:local {
					.SVGexpand {
						transform: rotate(90deg);
					}
				}
			}
			
			&close {
				
				:local {
					.SVGexpand {
						transform: rotate(0);
					}
				}
			}
		}
	}
}


