

.plugin-aside-list {	
	a.ant-dropdown-trigger{
		width: 24px;
		height: 24px;
	}
}

.nav{
	&:hover{
		background-color: #d9d9d9;
	}
	&:last-child{
		background-color: #353945;
		color: #fff;
	}
	& {
		display: flex;
		width: 100%;
		flex-direction: row;
		align-items: center;
		border-radius: 12px;
		padding: 8px 16px 8px 8px;
	}
	p{
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		margin:0px 0px 0px 16px;
	}
}
