.order-info-wrapper{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: fit-content;
	gap: 24px;
	background-color: #c2c2c2;
}

.search-container {
	display: flex;
	gap: 16px;
	padding: 24px;
	background-color: #ffffff;
	border-radius: 8px;
	margin-bottom: 24px;
	
	.input{
		width: 100%;
	}
	
	.date-picker{
		width: 100%;
		
		:global{
			.ant-picker.ant-picker-range{
				width: 100%;
			}
		}
	}
	
	.select{
		width: 100%;
		
		
		:global{
			.ant-select{
				width: 100%;
			}
		}
	}
	
	.form-btn{
		width: 30%;
		display: flex;
		gap: 16px;
		justify-content: flex-end;
	}
}



.table-container{
	width: 100%; 
	padding: 24px;
	background-color: #ffffff;
	border-radius: 8px;
}

.table-header{
	display: flex;
	justify-content: flex-start;
	margin-bottom: 17px;
	font-weight: 500;
	font-size: 18px;
	color: #000000;
}

.order-type-container{
	display: flex;
	align-items: center;
	gap: 6px;
}

.order-process-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 32px;
	gap: 24px;
	width: 480px;
	background-color: #ffffff;
	border-radius: 20px;
}

.order-process-title{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	font-weight: 600;
	font-size: 22px;
	color: #222528;
	
}
