@media screen and (max-width: 850px) {
	:global(.ant-form-inline){
		flex-direction: column;
		gap: 16px;
	}
}

.search-container {
	padding: 24px;
	background-color: #ffffff;
	border-radius: 8px;
	margin-bottom: 24px;
}

.table-container{
	width: 100%; 
	padding: 24px;
	background-color: #ffffff;
	border-radius: 8px;
}

.table-header{
	margin-bottom: 16px;
	font-size: 18px;
	color: #000000;
}

.order-process-title{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	font-weight: 600;
	font-size: 22px;
	color: #222528;
	margin-bottom: 24px;
	
	.closeBtn{
		display: flex;
		align-items: center;
		
		svg{
			cursor: pointer;
		}
	}
}

.processing-modal:global(.ant-modal .ant-modal-content){
	padding: 32px;
	border-radius: 20px;
}

.processing-modal:global(.ant-modal .ant-modal-body){
	padding: 0;
}

.processing-modal{
	:global{
		.ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description{
			color: rgba(0, 0, 0, 0.45);
		}
	}
}
