/*create-space-modal样式 : */
@import "./variable.module.less";

.modal-content {
	.main-title {
		font-size: 32px;
		color: @black_1;
		margin-bottom: 24px;
		font-weight: 700;
	}
	
	.dec-title {
		font-size: @font_2;
		color: @black_2;
		padding-bottom: 24px;
		border-bottom: 1px solid @grey_1;
		margin-bottom: 32px;
	}
	
	.sub-title {
		font-size: @font_4;
		color: @black_3;
		margin-bottom: 26px;
		font-weight: 600;
	}
	
	.form-list {
		.form-item {
			margin-bottom: 26px;
			
			p {
				font-size: @font_3;
				color: @black_3;
				margin-bottom: 14px;
				font-weight: 600;
			}
			
			.m-input {
				width: 100%;
				height: 48px;
				border-radius: 12px;
				font-size: @font_3;
				background-color: @grey_2;
				border: none;
				color: #444444;
				font-size: 14px;
				
			}
			
			.title-wrp {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				margin-bottom: 14px;
				
				p {
					margin-right: 5px;
					margin-bottom: 0;
				}
				
				span.tip {
					color: @white_2;
					font-size: @font_5;
					padding: 2px 8px;
					background: #272b30;
					border: 1px solid rgba(255, 255, 255, 0.12);
					box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), inset 0px 0px 1px #000000;
					border-radius: 4px;
					margin-left: 5px;
				}
			}
		}
	}
}
.net-ethereum{
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
:global(.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector) {
	border-radius: 12px;
	height: 48px;
}

.drop-down-menu {
	padding: 8px;
	background: #ffffff;
	border: 2px solid #e6e8ec;
	border-radius: 12px;
	
	:global(.ant-select-item-option) {
		height: 48px;
		background: #ffffff;
		border-radius: 12px;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 12px;
		
		&:hover {
			background: #f4f5f6;
		}
	}
}
:global(.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input).ant-select-selector){
	border-color: #777e90;
	box-shadow: unset;
}

.antd-net-select:global(.ant-select) {
	box-shadow: unset;
	width: 100%;
	&:hover{
		border-color: #777e90;
	}
	:global {
		.ant-select-selector {
			border: 2px solid #e6e8ec;
			padding: 1px 2px;
			border-radius: 12px;
			height: 48px;
			width: 100%;
			box-shadow: unset;
			&:hover {
				border-color: #777e90;
			}
		}
		.ant-select-selection-item {
			display: flex;
			align-items: center;
			padding-left: 6px;
		}
		
	}
}



.antd-create-space-modal {
	> div {
		height: 100%;
		width: 100%;
		margin: 0;
		max-width: 100%;
		padding: 0;
		
		:global {
			border-radius: 32px;
			padding: 32px;
			
			.ant-modal-content {
				height: 100%;
			}
			
			.ant-modal-body {
				height: calc(100% - 53px);
				padding: 0;
			}
			
			.ant-modal-footer {
				padding: 0 0 0 0;
			}
			
			.ant-modal-close-x {
				position: absolute;
				right: -266px;
				top: -44px;
			}
			
		}
	}
}
