
.joined-btn {
	
	
	&:hover {
		> span {
			&::after {
				content : "leave";
				
			}
		}
	}
	
	> span {
		&::after {
			content : "joined";
			
		}
		
	}
}
.btn-setting {
	
	
	&:hover {
		> span {
			&::after {
				content : "leave";
				
			}
		}
	}
	
	> span {
		&::after {
			content : "joined";
			
		}
		
	}
}
