<!DOCTYPE html>
<html lang = "zh-cn">
	<head>
		<meta charset = "UTF-8" />
		<meta
			name = "viewport"
			content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		/>
		<meta
			http-equiv = "X-UA-Compatible"
			content = "IE=edge"
		/>
		<link
			rel = "icon"
			type = "image/png"
			href = "https://assets.2dfire.com/frontend/ff00e1bd198c1043f705502488e31c85.png"
			sizes = "64x64"
		/>
		<div
			htmlWebpackPlugin
			style = "display: none"
		><%= JSON.stringify(htmlWebpackPlugin , null , 3)%></div>
		<title>Daotion-web</title>
	</head>
	<body>
		<div id = "react-app-root"></div>
	</body>
	<script>
		const observer = new MutationObserver((mutationRecord , obsrerver) => {
			console.log(mutationRecord);
			for ( const record of mutationRecord ) {
				const web3onboardTagNode = [...record.addedNodes].find((node) => node.tagName === "ONBOARD-V2");
				if ( web3onboardTagNode ) {
					const styleText = [...document.head.childNodes].find((node) => node.innerText?.includes('onboard-v2')).innerHTML;
					const styleTag = document.createElement('style');
					styleTag.innerHTML = styleText;
					web3onboardTagNode.shadowRoot.append(styleTag);
					
					
					const headObserver = new MutationObserver((mutationRecord , observer) => {
						for(const record of mutationRecord){
							if(record.addedNodes.length){
								const styleText = record.addedNodes[0].data;
								styleTag.innerHTML = styleText;
							}
							// const styleNode = record.
						}
						// console.log(mutationRecord);
						// mutationRecord.find((record) => record.innerText?.includes('onboard-v2'))
						
					});
					headObserver.observe([...document.head.childNodes].find((node) => node.innerText?.includes('onboard-v2')),{
						childList : true,
						subtree : true ,
						characterData : true,
					});
				}
			}
			// mutationRecord.find((record) => record.addedNodes.tagName === "ONBOARD-V2")
		});
		
		observer.observe(document.body , {
			attributes : false ,
			subtree : false ,
			childList : true ,
		});
	</script>
	<%= htmlWebpackPlugin.files.js.reduce((accu , filePath) => {
		return accu + `<script src="/${ filePath }"></script>\n`} , ``)%>
</html>
