.space-item {
	user-select: none;
	margin-bottom: 16px;
	display: flex;
	transform: translate(0);
	align-items: center;
	background-color: #eeeeee;
	width: fit-content;
	border-radius: 12px;
	box-shadow: 0 0 10px 1px #eeeeee;
	
	&:first-child {
		margin-top: 12px;
	}
	
	@keyframes expand{
		from{
			height : 0px;
		}
	}
	@keyframes expand1{
		from{
			height : 20px;
		}
	}
	&:hover {
		.select-vision {
			height: 20px;
			opacity: 1;
			animation: expand;
			animation-duration: .3s;
			animation-timing-function: ease;
		}
	}
	
	
	.select-vision {
		.base() {
			transition: opacity 0.4s ease;
			width: 4px;
			height: 0px;
			opacity: 1;
			position: absolute;
			background: #3772ff;
			border-radius: 0px 4px 4px 0px;
			margin-left: -7px;
			display: block;
			
		}
		.base();
		
		&-selected {
			.base();
			animation: expand1;
			animation-duration: .3s;
			animation-timing-function: ease;
			height: 36px;
			opacity: 1;
		}
	}
	
}


.space-avatar {
	
	object-fit: cover;
}


.container{
	display: flex;
	flex-flow: row nowrap;
	background-color: rgb(244, 244, 244);
	height: 100%;
}
.space-box{
	background: rgb(255, 255, 255);
	height: 100%;
	display: flex;
	flex-flow: column wrap;
	padding: 16px 8px;
	border-radius: 12px;
	justify-content: space-between;
	position: relative;
	margin-left: 4px;
}
.divider1{
	background: rgb(230, 232, 236);
	width: 40px;
	height: 1px;
}
.divider2{
	height: 2px;
	width: 40px;
	background: rgb(230, 232, 236);
	margin-bottom: 12px;
}
