.Token-box {
	
	:global {
		.ant-segmented-item-label{
			padding:6px 10px;
		}
		.ant-segmented-item-selected.ant-segmented-item-selected {
			border-radius: 12px;
			color: #353945;
			font-weight: 600;
			display: flex;
			align-items: center;
		}
		.ant-segmented-thumb {
			border-radius: 12px;
			display:flex;
			align-items: center;
		}
		.ant-segmented-item{
			color:#777e91;
			font-weight: 600;
			font-size: 16px;
			display: flex;
			align-items: center;
			user-select: none;
		}
		.ant-segmented-item:hover{
			color:#353945;
		}
	}
}
