@media screen and (max-width: 700px){
	.order-type-overview{
		flex-direction: column;
	}
}


p{
	margin: 0;
}

.overview-container{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 32px;
	padding: 24px;
	width: 100%;
	background-color: #FFFFFF;
	margin-bottom: 20px;
	border-radius: 8px;

	
	:global{
		.ant-btn.ant-btn-primary{
			width: 97px;
			height: 32px;
			background: #1677FF;
			border-radius: 4px;
		}
	}
	
	.overview-sub-title{
		font-size: 14px;
		line-height: 1.4;
		color: rgba(22, 22, 26, 0.6);
	}
	
	.withdrawing-amount{
		font-size: 28px;
		line-height: 140%;
		color: #16161A;
	}
	

	
	.balance-amount{
		font-size: 48px;
		line-height: 61px;
		color: #16161A;
		margin-right: 24px;
	}
	
	
	.overview-title{
		font-size: 18px;
		line-height: 24px;
		color: #16161A;
	}
}

.order-type-overview{
	display: flex;
	padding: 0;
	gap: 24px;
	width: 100%;
	overflow-x: scroll;
}



