
.pop-list{
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	color : #777e90;
}
.pop-list:not(:last-child){
	margin-bottom: 24px;
}
.pop-list{
	&:hover{
		transition: color .3s ease;
		color:#414141;
	}
}
.pop-list{
	&:last-child{
		color:#ef466f;
		margin-top: 17px;
	}
	
}
