.container {
	background: rgb(255, 255, 255);
	box-shadow: rgb(0 0 0 / 15%) 0px 4px 20px;
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	padding: 12px;
	width: 256px;
	height: fit-content;
}

.pop-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	color: #777e90;
	
	p {
		margin: 0px;
		font-weight: 600;
		font-size: 14px;
	}
}

.pop-list:not(:last-child) {
	margin-bottom: 16px;
}

.pop-list {
	transition: color .25s ease;
	&:hover {
		color: #414141;
	}
	
	&:last-child {
		transition: color .25s ease;
		margin-top: 8px;
		color: #FF3B30;
		border-radius: 8px;
		height: 40px;
		padding: 8px;
		&:hover{
			background: #ff3b30;
			color: #ffffff;
			svg path{
				fill: #ffffff;
			}
		}
	}
}

.pop-list:not(:last-child):hover {
	svg path {
		fill: #1a1d1f;
	}
}

.divider {
	width: 100%;
	height: 1px;
	background: #e6e8ec;
}

//:local(.pop-switch) {
//	:global {
//		min-width: unset;
//		height: 20px;
//		.ant-switch-handle {
//			width: 12px;
//			height: 12px;
//			top: 4px;
//			left: 4px;
//		}
//		
//		.ant-switch-handle::before {
//			background: #0070f3;
//			border-radius: 32px;
//		}
//	}
//}

.pop-switch:global(.ant-switch) {
	width: 40px;
	height: 20px;
	min-width: unset;
	background: #e6e8ec;
	border-radius: 32px;
	&:focus{
		box-shadow: unset;
	}
	&-checked{
		background: #a5c7ee;
		:global(.ant-switch-handle){
			left: calc(100% - 18px);
		}
	}
	:global {
		.ant-switch-handle {
			margin-left: 2px;
			width: 12px;
			height: 12px;
			border-radius: 32px;
			top: 4px;
			&::before {
				background: #0070f3;
				border-radius: 32px;
			}
		}
	}
}

	

