*{
	margin: 0;
	padding: 0;
}

.login-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background-color: skyblue;
}

.login-content{
	display: flex;
	flex-direction: column;
	width: 368px;
	background-color: pink;
	gap: 44px;
}

.login-title{
	display: flex;
	justify-content: center;
	align-items: center;
}

.sign-in-form-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 20px;
	width: 100%;
	background-color: #FFFF;
}
