.create-SBT-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 100%;
	line-height: normal;
}

.create-SBT_left {
	width: 836px;
	height: 1752px;
}

.create-SBT_right {
	width: 340px;
	height: 416px;
	background: #fcfcfc;
	margin-top: 100px;
}

.main-title {
	font-weight: 700;
	font-size: 40px;
	color: #313436;
	margin-bottom: 8px;
}

.some-intro {
	font-weight: 500;
	font-size: 14px;
	color: #777e91;
	margin-bottom: 24px;
}
.create-SBT-info-box-first{
	width: 836px;
	height: 704px;
	background: #FCFCFC;
	border-radius: 8px;
	padding: 24px;
}



