:global{
	.ant-notification-notice{
		//display: flex;
		//flex-direction: row;
		//align-items: center;
		//padding: 16px;
		//width: 822px;
		//height: 72px;
		//left: calc(50% - 822px/2 + 131.5px);
		//
		//background: rgba(49, 52, 54, 0.7);
		//border-radius: 12px;
		
		.ant-notification-notice-close{
			display: none;
		}
	}
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
	width: 790px;
	height: 40px;
	

}

.title{
	font-weight: 600;
	font-size: 16px;
	
	color: #FFFFFF;
	user-select: none;
}

.btn{
	display: flex;
	justify-content: space-between;
	width: 256px;
	height: 40px;
	
	:global{
		.ant-btn{
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 8px 16px;
			
			width: 120px;
			height: 40px;
			
			border-radius: 8px;

			font-weight: 700;
			font-size: 13px;
			
			color: #FFFFFF; 
		}
		
		.ant-btn-text{
			&:hover {
				color: #ffffff;
				background: unset;
			}
			
			&:focus{
				color: #ffffff;
				background: unset;
			}
		}
		
		.ant-btn-primary{
			background: #0070F3;
			border: unset;
			
			&:hover {
				color: #ffffff;
				background: #0070F3;
			}
			
			&:focus{
				color: #ffffff;
				background: #0070F3;
			}
		}
	}
}
